<html>
<head>
    <title>Confirm Account</title>
</head>
<body>
    <div style="padding: 100px; width: 84%; height: fit-content; background: linear-gradient(187.16deg,#181623 0.07%,#191725 51.65%,#0d0b14 98.75%)">
        <div style="padding-bottom: 50px; margin: 0 auto; width: fit-content;">
            <div style="margin: 0 auto; width: fit-content;">
                <img src="cid:confirm-account-icon" alt='confirm-account'/>
            </div>
            <p style="font-size: 12px; color: #DDCCAA; text-align: center; text-transform: uppercase;">კინოს ციტატები</p>
        </div>
        <div style="padding-bottom: 50px;">
            <p style="color: white;">გამარჯობა {{ username }}!</p>
            <p style="padding: 15px 0; color: white;">გმადლობთ, რომ შეუერთდით ფილმების ციტატებს! ჩვენ ნამდვილად ვაფასებთ ამას. გთხოვთ, დააჭიროთ ქვემოთ მოცემულ ღილაკს თქვენი ანგარიშის დასადასტურებლად:</p>
            <a href='{{ link }}' style="padding: 0 10px; display: block; width: fit-content; height: 35px; color: white; text-align: center; line-height: 35px; background-color: #E31221; border-radius: 5px; text-decoration: none; ">დაადასტურეთ  ანგარიში</a>
            <p style="padding: 15px 0; color: white;">თუ დაწკაპუნება არ მუშაობს, შეგიძლიათ სცადოთ მისი კოპირება და ჩასმა თქვენს ბრაუზერში:</p>
            <a rel="nofollow" style='text-decoration:none; color: #DDCCAA'>{{ link }}</a>
            <p style="padding: 15px 0; color: white;">თუ რაიმე პრობლემა გაქვთ, გთხოვთ დაგვიკავშირდეთ:  <a rel="nofollow" style='text-decoration:none; color: white'>support@moviequotes.ge</a></p>
            <p style="color: white;">კინოს ციტატების გუნდი</p>
        </div>
    </div>
</body>
</html>